<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">Angular</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">
              (current)
            </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/ndc']">NDC</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/contact']">Contact</a>
            </li>
        </ul>
  </div>

  <!-- <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">home</a>
      <a class="navbar-brand" routerLink="/ndc" routerLinkActive="active">NDC</a>
      <a class="navbar-brand" routerLink="/products" routerLinkActive="active">Product</a>      
      <a class="navbar-brand" routerLink="/contact" routerLinkActive="active">Contact Us</a>        
    </div>
  </div> -->
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div><!-- /.container -->